<form ts-form>
	<fieldset>
		<label>
			<span>Textarea</span>
			<textarea></textarea>
		</label>
	</fieldset>
</form>

{{#each customers}}
		<div>{{companyName}} / {{purchaseDate}} / {{purchaseCount}}<button onclick="recent.open('{{documentId}}', '{{documentNumber}}')">Thank you!</button> </div>
		{{/each}}